<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="../static/css/errorstyle.css" type="text/css">
    <!-- <link rel="stylesheet" href="../static/css/mobile_errorpage.css" type="text/css"> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../static/js/error.js"></script>
</head>

<body>
	<div id="container">
    	<img id="errorBackground" src="../static/img/404.png" >
        <audio autoplay="autoplay">  
           <source src="http://themushroomkingdom.net/sounds/wav/smb/smb_gameover.wav"></source>  
        
        </audio> 
        <br /><a href="http://people.ischool.berkeley.edu/~ramit/server/home" onclick="goBack(); return false;" class="btn btn-danger btn-large"><img src="../static/img/greenShell2.png"> Go back to Shorti.fy <img src="../static/img/greenShell2.png"></a>
    </div>
    <div id="background">
    	<div id="back"></div>
	</div>
    <footer>
    </footer>
</body>

</html>
