.second {
	padding-top:20px;
}
.alternative{
	position:"absolute";
	left:0;
}
.pablo{
	margin-top:10px;
	margin-left:8em;
}
.jenny{
	margin-top:10px;
	margin-left:7em;	
}
.ramit{
	margin-top:10px;
	margin-left:6em;
}
#about_content{
  margin: 0 auto;
  width: 80%;
}
